In [1]:
from _element import feature_control as ft_c

from _element import varr

import pandas as pd
import numpy as np

from datetime import datetime

import os, sys

path_name= 'c:\\Studying\\Project_Nextop\\nextop-engine\\nextop_engine'
sys.path.append(path_name)

In [23]:
df_raw= ft_c.xlsx_opener(path_name+'\\_element\\data\\private\\', 'KPP일별투입(10_17).xlsx')

In [24]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1300503 entries, 0 to 189668
Data columns (total 6 columns):
구분     1300503 non-null object
타입     1300503 non-null object
코드     1300503 non-null int64
발송일    1300503 non-null int64
유형     1300503 non-null int64
수량     1300503 non-null int64
dtypes: int64(4), object(2)
memory usage: 69.5+ MB

In [25]:
ft_c.colname(df_raw, {'발송일': 'ds', '수량': 'y'})

In [26]:
df_raw.head()

    구분        타입      코드        ds    유형   y
0  계약처  납품(직송포함)  298141  20100101  1815   8
1  계약처  납품(직송포함)  296285  20100101  1815  20
2  계약처  납품(직송포함)  295537  20100101  1815   4
3  계약처  납품(직송포함)  294932  20100101  1815  10
4  계약처  납품(직송포함)  294837  20100101  1815  10

In [27]:
df_raw= ft_c.struct(df_raw, 'ds', '코드', 'y')

In [28]:
df_raw.columns.name= None

In [29]:
df_raw.reset_index(drop= False, inplace= True)

In [30]:
df_raw['ds']= df_raw['ds'].apply(str).apply(lambda x: datetime(int(x[:4]),int(x[4:6]),int(x[6:])))

In [31]:
df_raw.head()

,ds,219733,219736,219740,219744,219755,219758,219762,219766,219769,...,298122,298126,298130,298137,298141,298148,298152,298163,298166,y_sum
0,2010-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,2662.0
1,2010-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,256.0,...,0.0,0.0,0.0,0.0,192.0,0.0,80.0,0.0,0.0,39352.0
2,2010-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,404.0
3,2010-01-04,0.0,0.0,0.0,0.0,0.0,0.0,278.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44906.0
4,2010-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69481.0

In [32]:
df_idx= df_raw.sum(axis=0)

In [33]:
df_idx.sort_values(ascending=False)

y_sum     216661942.0
247467      4595841.0
230054      2677590.0
265812      2522002.0
227645      2342989.0
269255      2075299.0
283639      2055631.0
289806      1900474.0
230223      1815663.0
296502      1677867.0
221797      1655241.0
230117      1611108.0
290052      1504135.0
230813      1481605.0
293275      1428578.0
297939      1379180.0
298064      1358539.0
230183      1308804.0
272415      1178540.0
296498      1102388.0
295893      1006426.0
266182       936897.0
288600       928448.0
230828       887496.0
266186       887122.0
247464       878677.0
280137       864819.0
230491       863472.0
287694       859929.0
230791       846491.0
             ...
225753            2.0
241392            2.0
247790            2.0
262361            2.0
281281            2.0
260125            2.0
238612            2.0
247662            2.0
291119            2.0
231642            2.0
271407            2.0
270545            2.0
244662            2.0
219920            2.0
260029            2.0
270879            2.0
247233            2.0
244959            2.0
256751            2.0
252736            1.0
225647            1.0
279503            1.0
268892            1.0
247775            1.0
234150            1.0
235822            1.0
236207            1.0
251152            1.0
241667            1.0
232185            1.0
Length: 13815, dtype: float64

In [34]:
df_max7= df_raw.drop('ds', axis=1)

In [35]:
df_max7= df_max7.loc[:, np.where(df_idx>2000000, True, False)]

In [36]:
df_max7.drop('y_sum', axis= 1, inplace= True)

In [37]:
df_max7['ds']= df_raw['ds']

In [38]:
colname= df_max7.columns.tolist()

In [39]:
colname= colname[-1:]+colname[:-1]

In [40]:
df_max7= df_max7[colname]

In [41]:
df_max7.sum(axis=0)

227645    2342989.0
230054    2677590.0
247467    4595841.0
265812    2522002.0
269255    2075299.0
283639    2055631.0
dtype: float64

In [42]:
ft_c.save_as_xlsx(path_name+'\\_element\\data\\private\\', df_max7, 'KPP일별투입(10_17).xlsx', '_withcompanycode')